@font-face {
  font-family: 'VictorMono';
  src: url('VictorMono-Medium.eot');
  src: url('VictorMono-Medium.eot?#iefix') format('embedded-opentype'),
       url('VictorMono-Medium.woff2') format('woff2'),
       url('VictorMono-Medium.woff') format('woff'),
       url('VictorMono-Medium.ttf')  format('truetype');
}

body {
  background: #0f0f0f;
  color: #f0f0f0;
  font-size: 40px;
  line-height: 100%;
  font-family: 'VictorMono', sans-serif, sans;
  text-align: center;
  text-align-last: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link {
  color: #f0f0f0;
  text-decoration: none;
}

a:visited {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  color: #d2d2d2;
  text-decoration: none;
}

a:active {
  color: #f0f0f0;
  text-decoration: none;
}

.center {
  animation-name: appear;
  animation-duration: 3s;
  opacity: 1;
}

.center .inline {
  display:inline;
  line-height: 0px;
}

.nope {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center .nosel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center .smol {
  display:inline;
  font-size: 20px;
  line-height: 0px;
}
.center .smoler {
  padding-right: 10px;
  display:inline;
  line-height: 0px;
  font-variant: small-caps;
  font-size: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
