@font-face {
  font-family: "Victor";
  src: url("VictorMono-Light.eot");
  src: url("VictorMono-Light.eot?#iefix") format("embedded-opentype"),
    url("VictorMono-Light.woff2") format("woff2"),
    url("VictorMono-Light.woff") format("woff"),
    url("VictorMono-Light.ttf") format("truetype");
}
body {
  background: #282a36;
  color: #f8f8f2;
  font-size: 40px;
  line-height: 0;
  font-family: "Victor", monospace;
  text-align: center;
  text-align-last: center;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
h1 {
  display: none;
}
p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: inherit;
  margin-block-start: inherit;
  margin-block-end: inherit;
  padding: inherit;
  margin: inherit;
}
a:link {
  color: #f8f8f2;
  text-decoration: none;
}
a:visited {
  color: #f8f8f2;
  text-decoration: none;
}
a:hover {
  color: #44475a;
  text-decoration: none;
}
a:active {
  color: #f8f8f2;
  text-decoration: none;
}
.appear {
  animation-name: appear;
  animation-duration: 4s;
  opacity: 1;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
